.home-video-columns {
    width: 45%;
}

.home-play-video {
    background-image: url("../../images/teacher-with-her-students.jpg");
    background-position: center top;
    background-size: cover;
    height: 300px;
    border-radius: 24px 0 24px 0;
    box-shadow: 15px 15px 0 #5617ae;
}

.home-play-video:hover {
    opacity: 94%;
}

.home-play-video span {
    font-size: 8.4rem;
}

.home-bullet-card span {
    font-size: 3.4rem;
}

.home-bullet-card div {
    line-height: 2.4rem;
}

/* media queries */
@media screen and (max-width: 770px) {
    .home-gestao-simplificada {
        flex-direction: column;
    }

    .home-video-columns {
        text-align: center;
        width: 98%;
    }

    .home-bullet-card {
        flex-direction: column;
        margin: 0 auto;
    }

    .home-bullet-card span {
        margin-bottom: -1rem;
    }
    
    .home-play-video {
        margin: 20px;
        height: 280px;
        width: 90%;
    }
}

@media screen and (max-width: 415px) {
    .after-header-section {
        padding-top: 1140px;
    }

    .home-play-video {
        margin-left: 0.8rem;
        height: 200px;
        width: 90%;
    }
}