.home-play-video {
    background-image: url("../../images/teacher-with-her-students.jpg");
    background-position: center top;
    background-size: cover;
    height: 300px;
}

.home-play-video:hover {
    opacity: 94%;
}

.home-play-video span {
    font-size: 8.4rem;
}

.home-bullet-card span {
    font-size: 3.4rem;
}

.home-bullet-card div {
    line-height: 2.4rem;
}

/* OUR PRODUCTS */
.home-card-div-parent {
    margin-bottom: 1rem !important;
}

/* BENEFITS */
.home-benefits-image {
    background-image: url("../../images/university-students-throwing-their-caps-up.jpg");
    background-position: center top;
    background-size: cover;
    height: 100%;
    width: 80%;
}

/* media queries */
@media screen and (max-width: 1000px) {
    .home-service-container {
        flex-direction: column;
    }

    .home-service-container div {
        width: 100%;
    }

    .home-service-container div p {
        padding-bottom: 4px !important;
    }

    .home-card-div-parent:first-of-type {
        margin-top: 4rem !important;
    }

    .home-card-div-parent {
        margin-bottom: 0 !important;
    }

    .home-card-div-parent div {
        margin-bottom: 1rem;
    }

    /* benefits */
    .home-benefits-row {
        flex-direction: column;
        text-align: center;
    }
    
    .home-benefits-row .home-video-columns {
        margin-bottom: 4rem !important;
    }

    .home-benefits-row div {
        width: 100%;
        margin: auto;
    }

    .home-benefits-image {        
        width: 100%;
        height: 300px;
    }
}

@media screen and (max-width: 770px) {
    .home-gestao-simplificada {
        flex-direction: column;
    }

    .home-video-columns {
        text-align: center;
        width: 98%;
    }

    .home-bullet-card {
        flex-direction: column;
        margin: 0 auto;
    }

    .home-bullet-card span {
        margin-bottom: -1rem;
    }
    
    .home-play-video {
        margin: 20px;
        height: 280px;
        width: 90%;
    }
}

@media screen and (max-width: 415px) {
    .after-header-section {
        padding-top: 1140px;
    }

    .home-video-columns p {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .home-bullet-card {
        width: 40%;
    }

    .home-play-video {
        margin-left: 0.8rem;
        height: 200px;
        width: 90%;
    }

    .home-card-div-parent {
        margin: 0 auto !important;
    }

    .home-benefits-image {
        width: 90%;
        margin: 0 auto;
        margin-left: 0.8rem;
    }

    .home-benefits-content > span,
    .home-benefits-content > h1,
    .home-benefits-content > p {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}