.home-video-columns {
    width: 45%;
}

.home-play-video {
    background-image: url("../../images/teacher-with-her-students.jpg");
    background-position: center top;
    background-size: cover;
    height: 300px;
    border-radius: 24px 0 24px 0;
    box-shadow: 34px 34px 0 #5617ae;
}

.home-play-video:hover {
    opacity: 94%;
}

.home-play-video span {
    font-size: 8.4rem;
}

.home-bullet-card span {
    font-size: 3.4rem;
}

.home-bullet-card div {
    line-height: 2.4rem;
}

/* media queries */
@media screen and (max-width: 1040px) {
    .home-gestao-simplificada {
        flex-wrap: wrap;
    }

    .home-video-columns {
        width: 90%;
    }

    .home-play-video {
        margin-top: 4rem;
        height: 400px;
    }
}

@media screen and (max-width: 510px) {
    .home-video-columns {
        margin: auto;
    }
    
    .home-play-video {
        height: 200px;
        width: 90%;
        box-shadow: 15px 15px 0 #5617ae;
    }
}

@media screen and (max-width: 415px) {
    .after-header-section {
        padding-top: 1140px;
    }

    .home-bullet-card div p {
        width: 1px;
    }
}