header {
    height: 600px;
    width: 100%;
    position: relative;
}

header a {
    color: #333;
}

.background-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/src/images/teacher-and-little-girl-banner.jpg);
    background-position: center center;
    background-size: cover;
    transform: scaleX(-1);
    z-index: -1;
}

.header-content {
    margin-top: 100px;
}

.header-content h2 {
    font-size: 3.4rem;
}

.header-content p {
    font-size: 1.6rem;
}

header .cards-container {
    bottom: -280px;
    left: -50%;
    right: -50%;
}

.after-header-section {
    padding-top: 380px;
    padding-bottom: 140px;
}

.after-header-section span {
    color: #5617ae;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
        bottom: -500px !important;
    }

    .cards-container .primary-card {
        width: 45% !important;
    }

    .after-header-section {
        padding-top: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .cards-container {
        bottom: -940px !important;
    }

    .cards-container .primary-card {    
        width: 80% !important;
    }

    .after-header-section {
        padding-top: 1000px;
    }
}

@media screen and (max-width: 992px) {
    .cards-container {
        bottom: -980px !important;
    }

    .cards-container .primary-card {
        width: 100% !important;
    }

    .after-header-section {
        padding-top: 1040px;
    }
}

@media screen and (max-width: 510px) {
    .header-content {
        margin-top: 30px;
    }

    .cards-container {
        bottom: -1000px !important;
    }
}

@media screen and (max-width: 415px) {    
    .cards-container {
        bottom: -1100px !important;
    }
}