.main-nav-bar div ul {
    font-weight: 500;
}

.main-nav-bar div ul li {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.main-nav-bar div ul li:hover {
    color: #5617ae;
}

.main-nav-bar div ul li::after {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    position: absolute;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    right: 8px;
    top: 4px;
    transform: rotate(-135deg);
}

.main-nav-bar div ul li:hover::after {
    border-top-color: #5617ae;
    border-left-color: #5617ae;
}

#popover-basic {
    background-color: aliceblue;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-popover-link {
    font-weight: 500;
}

.navbar-popover-link span {
    color: #5617ae;
    font-size: 3rem;
}

.navbar-popover-link:hover {
    color: #5617ae !important;
}

.popover-line {
    color: #5617ae;
    margin: 2.4rem auto;
    opacity: 1;
}

/* media queries */
@media screen and (max-width: 1000px) {
    .main-nav-bar {
        padding: 15px 0;
    }

    .main-nav-bar div {
        flex-direction: column;        
        max-width: none;
    }

    .main-nav-bar div a img {
        height: 40px;
    }

    .main-nav-bar div ul {
        width: 80% !important;
        justify-content: space-between;
        margin-top: 2rem !important;
        padding-top: 2rem;
        border-top: 2px solid #333;
    }

    .main-nav-bar div ul li {
        padding: 0 !important;
    }

    .main-nav-bar div ul li::after {
        display: none;
    }
}

@media screen and (max-width: 510px) {
    .main-nav-bar div ul {
        gap: 12px !important;
    }
}

@media screen and (max-width: 415px) {
    .main-nav-bar div ul {
        flex-wrap: wrap;
        padding-top: 8px;
    }

    .main-nav-bar div ul li {
        text-align: center;
        width: 40%;
    }
}